
body {
    font-family: Arial, sans-serif;
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    margin-top: 40vh;
}  

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
} 

.btn button{
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}